body {
	margin: 0;
}

.hero {
	background-color: #16235f;
	color: #fff;
}

nav {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	justify-content: space-between;
}
nav > div.right_nav a {
	color: #fff;
	text-decoration: none;
}
nav > div.right_nav > * {
	display: inline-block;
}

div#spending {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
	font-size: 24px;
}
div#spending span#spending_total {
	font-size: 42px;
}

div#info {
	width: calc(100vw - 50px - 50px - 12px);
	max-width: 1440px;
	margin: 50px auto;
	padding-bottom: 100px;
}
div#info > div.info_card {
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
	vertical-align: top;
}
div#info > div#regularity {
	width: calc(100vw - 50px - 50px - 12px - 370px - 16px);
	max-width: calc(1440px - 12px - 370px - 4px);
	padding-bottom: 48px;
}
div#info > div#accounts {
	width: 370px;
	margin-left: 12px;
}

h2 {
	margin-left: 22px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

div#regularity div#date {
	margin-left: 22px;
}

div.line {
	display: flex; /* get rid of whitespace */
	margin: 0 22px;
}
div.line > div {
	display: inline-block;
	width: 100px;
}
div.line > div:first-child {
	width: calc(100% - 200px);
}
div.line > div:last-child {
	text-align: right;
}

div.header {
	margin-top: 34px;
	font-weight: bold;
}

div.category_label {
	margin-top: 16px;
	font-size: 16px;
	font-weight: normal;
	color: #37a;
	cursor: pointer;
}
div.category_label:hover {
	color: #59c;
}

div.bar {
	height: 32px;
	margin: 0 22px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	box-sizing: content-box;
}
div.bar > div {
	height: 100%;
	float: left;
}
div.bar > div.category_total {
	background-color: #5473e8;
	border-radius: 4px;
}

section.category_transactions {
	display: none;
}
section.category_transactions.visible {
	display: block;
}

div.transaction {
	margin: 0 22px;
}
div.transaction > div {
	display: inline-block;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
div.transaction > div:nth-child(3) {
	width: calc(100% - 300px);
}
div.transaction > div:last-child {
	text-align: right;
}
