body {
	margin: 0;
	background-color: #f5f8fa;
}

.hero {
	background-color: #16235f;
	color: #fff;
}

nav {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	justify-content: space-between;
}
nav > div.right_nav a {
	color: #fff;
	text-decoration: none;
}
nav > div.right_nav > * {
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}
nav div.right_nav .button {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	font-size: 16px;
}

.hero div#chart {
	max-width: 1440px;
	margin: 0 auto;
	color: #111;
}
.hero div#chart .c3-axis,
.hero div#chart .c3-legend-item {
	fill: #fff;
}
.hero div#chart .c3-axis path,
.hero div#chart .c3-axis .tick line {
	stroke: #fff;
}

div#spending {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
	font-size: 24px;
}
div#spending span#spending_total {
	font-size: 42px;
}

div#info {
	width: calc(100vw - 50px - 50px - 12px);
	max-width: 1440px;
	margin: 50px auto;
	padding-bottom: 100px;
}
div#info div.info_card {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
	padding-bottom: 30px;
}

div#info > div#regularity {
	width: calc(100vw - 50px - 50px - 12px - 370px - 16px);
	max-width: calc(1440px - 12px - 370px - 4px);
	margin-left: 12px;
	padding-bottom: 48px;
}

h2 {
	display: inline-block;
	margin: 0 0 1em;
	font-weight: bold;
	font-size: 24px;
	color: #16235f;
}

div#regularity div#date {
	display: inline-block;
	float: right;
}
div#regularity div#date > select {
	padding: 7px 20px;
	border-radius: 4px;
	outline: none;
	border: 0;
	background-color: transparent;
	border: 1px solid transparent;
}
div#regularity div#date > select:focus {
	border-color: #5473e8;
	background-color: #fff;
}

div#regularity div#regularity_groups {
	display: flex;
	border-bottom: 1px solid #e0e0e0;
}
div#regularity div#regularity_groups > div.group_header {
	flex-grow: 1;
	padding: 22px;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
}
div#regularity div#regularity_groups > div.group_header:last-child {
	border-right: 0;
}
div#regularity div#regularity_groups > div.group_header.active {
	border-bottom: 4px solid #5473e8;
}
div#regularity div#regularity_groups > div.group_header .header_text {
	font-weight: bold;
}
div#regularity div#regularity_groups > div.group_header .group_total {
	font-size: 24px;
	font-weight: bold;
	margin: 18px 0;
	color: #16235f;
}
div#regularity div#regularity_groups > div.group_header .group_transactions {
	font-size: 20px;
	font-weight: bold;
}
div#regularity div#transactions > div {
	display: none;
}
div#regularity div#transactions > div.active {
	display: block;
}

div.line {
	display: flex; /* get rid of whitespace */
	margin: 0 22px;
}
div.line > div {
	display: inline-block;
	width: 100px;
}
div.line > div:first-child {
	width: calc(100% - 200px);
}
div.line > div:last-child {
	text-align: right;
}

div.header {
	margin-top: 34px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #828282;
}

div.category_label {
	margin-top: 16px;
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: normal;
	color: #37a;
	cursor: pointer;
}
div.category_label:hover {
	color: #59c;
}

div.bar {
	height: 32px;
	margin: 0 22px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	box-sizing: content-box;
}
div.bar > div {
	height: 100%;
	float: left;
}
div.bar > div.category_total {
	background-color: #5473e8;
	border-radius: 4px;
}

section.category_transactions {
	display: none;
}
section.category_transactions.visible {
	display: block;
}

div.transaction {
	margin: 0 22px;
}
div.transaction > div {
	display: inline-block;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
div.transaction > div:nth-child(3) {
	width: calc(100% - 300px);
}
div.transaction > div:last-child {
	text-align: right;
}

div#info > * {
	display: inline-block;
	vertical-align: top;
}
div#info > div#accounts {
	width: 370px;
}
div#info > div#accounts div#items {
	margin: 0 22px;
}
div#info > div#accounts div#items div.item {
	margin-top: 40px;
	font-weight: bold;
}
div#info > div#accounts div#items div.account {
	display: inline-block;
	width: 224px;
	margin-top: 1em;
}
div#info > div#accounts div#items div.total {
	display: inline-block;
	width: 100px;
	text-align: right;
}
div#info > div#accounts div#items div.mask {
	display: inline-block;
	width: 224px;
	font-size: 14px;
	color: #aaa;
}
div#info > div#accounts div#items div.subtype {
	display: inline-block;
	width: 100px;
	font-size: 14px;
	color: #aaa;
	text-align: right;
}
