* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: sans-serif;
	color: #ddd;
}

div#info {
	width: 960px;
	margin: 0 auto;
}

h2 {
	cursor: pointer;
	font-weight: normal;
	color: #7ac;
}
h2:hover {
	color: #8ce;
}

div.bar {
	height: 32px;
	width: 600px;
	background-color: #222;
}
div.bar > div {
	height: 100%;
	float: left;
}
div.bar > div.accumulated {
	background-color: #333;
}
div.bar > div.category_total {
	background-color: #777;
}

div.category_transactions {
	display: none;
	background-color: #111;
}
div.category_transactions.visible {
	display: block;
}
