* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: Roboto, sans-serif;
	color: #111;

	display: flex;
	align-items: stretch;
}

nav {
	width: 175px;
	border-right: 1px solid #f2f2f2;
}

div#info {
	width: 960px;
	margin-left: 20px;
}

h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
}

h3 {
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	color: #7ac;
}
h3:hover {
	color: #8ce;
}

div.bar {
	height: 32px;
	width: 600px;
	border: 1px solid #f2f2f2;
	box-sizing: content-box;
}
div.bar > div {
	height: 100%;
	float: left;
}
div.bar > div.accumulated {
}
div.bar > div.category_total {
	background-color: #f2c94c;
}

section.category_transactions {
	display: none;
}
section.category_transactions.visible {
	display: block;
}
