* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: Roboto, sans-serif;
	color: #111;

	display: flex;
	align-items: stretch;
}

nav {
	width: 175px;
	border-right: 1px solid #f2f2f2;
}

div#info {
	width: 960px;
	margin-left: 20px;
}

h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
}

div.line {
	display: flex; /* get rid of whitespace */
}
div.line > div {
	display: inline-block;
	width: 100px;
}
div.line > div:nth-child(1) {
	width: 400px;
}

div.header {
	font-weight: bold;
}

div.category_label {
	margin-top: 16px;
	font-size: 16px;
	font-weight: normal;
	color: #37a;
	cursor: pointer;
}
div.category_label:hover {
	color: #59c;
}

div.bar {
	height: 32px;
	width: 600px;
	border: 1px solid #f2f2f2;
	box-sizing: content-box;
}
div.bar > div {
	height: 100%;
	float: left;
}
div.bar > div.accumulated {
}
div.bar > div.category_total {
	background-color: #f2c94c;
}

section.category_transactions {
	display: none;
}
section.category_transactions.visible {
	display: block;
}
