{% extends 'base.jinja2' %}

{% block head %}
	<link rel="stylesheet" href="/static/outcomes.css">
{% endblock head %}

{% block body %}
	<nav>
		Outcomes
		<div class="right_nav">
			{% if not demo %}
				<a href="/dashboard">Dashboard</a>
				<a href="/accounts">Accounts</a>
				<form method="post" action="/fetch_transactions">
					<input type="submit" value="Fetch Transactions">
				</form>
			{% endif %}
		</div>
	</nav>

	<div id="info">
		<div class="info_card" id="spending">
			<h2>Spending</h2>
			<div id="spending_total"></div>
		</div>

		<div class="info_card" id="trend">
			<h2>Trend</h2>
		</div>

		<div class="info_card" id="regularity">
			<h2>Spending by regularity</h2>
			<div id="date">
				<select>
					<option value="30">Last 30 days</option>
					<option value="105" selected="true">Last 15 weeks</option>
				</select>
			</div>
			<div class="line header">
				<div>Category Name</div>
				<div>Periodicity</div>
				<div>Amount</div>
			</div>
			<div id="transactions"></div>
		</div>

		<div class="info_card" id="accounts">
			<h2>Accounts</h2>
		</div>
	</div>
	{% if demo %}
		<script>window.demo = true;</script>
	{% endif %}
	<script src="static/outcomes.js"></script>
{% endblock body %}
