{% extends 'base.jinja2' %}

{% block head %}
	<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock head %}

{% block body %}
	<nav>
		<h1>Outcomes</h1>
		<a href="/accounts">Accounts</a>
		<form method="post" action="/fetch_transactions">
			<input type="submit" value="Fetch Transactions">
		</form>
	</nav>

	<div id="info">
		<h2>Spending by periodicity</h2>
	</div>
	<script src="static/info.js"></script>
{% endblock body %}
