{% extends 'base.jinja2' %}

{% block head %}
	<link rel="stylesheet" href="/static/outcomes.css">
{% endblock head %}

{% block body %}
	<div class="hero">
		<nav>
			<img src="/static/logo.svg" alt="Outcomes">
			<div class="right_nav">
				{% if not demo %}
					<a href="/dashboard">Dashboard</a>
					<a href="/accounts">Accounts</a>
					<form method="post" action="/fetch_transactions">
						<input type="submit" value="Fetch Transactions">
					</form>
				{% endif %}
			</div>
		</nav>

		<div id="spending">
			You've spent
			<span id="spending_total"></span>
		</div>
	</div>

	<div id="info">
		<div class="info_card" id="regularity">
			<h2>Spending by regularity</h2>
			<div id="date">
				<select>
					<option value="30">Last 30 days</option>
					<option value="91" selected="true">Last 13 weeks</option>
					<option value="180">Last 180 days</option>
				</select>
			</div>
			<div class="line header">
				<div>Category Name</div>
				<div>Periodicity</div>
				<div>Amount</div>
			</div>
			<div id="transactions"></div>
		</div>

		<div class="info_card" id="accounts">
			<h2>Accounts</h2>
		</div>
	</div>
	{% if demo %}
		<script>window.demo = true;</script>
	{% endif %}
	<script src="static/outcomes.js"></script>
{% endblock body %}
