{% extends 'base.jinja2' %}

{% block head %}
	<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
	{#<link rel="stylesheet" href="/static/accounts.css">#}
{% endblock head %}

{% block body %}
	<h1>some accounts need relogin</h1>

	<a href="/outcomes">dashboard</a>
	{% for item in relogin_items %}
		<section>
			<h2 class="account_name">
				{{ item.name or '(unnamed)' }}
				<button class="plaid_link" data-id="{{ item.plaid_item_id }}">relogin</button>
			</h2>
			{% for account in item.accounts %}
				<div>
					{{ account.name }} ({{ account.mask }}) {{ account.subtype }}
				</div>
			{% endfor %}
		</section>
	{% endfor %}

	<form method="post" action="/fetch_transactions">
		<input type="submit" value="fetch transactions" class="button">
	</form>

	<script src="static/accounts.js"></script>
	<script>
		window.environment = '{{ environment }}';
		window.plaidPublicKey = '{{ plaid_public_key }}';
	</script>
	<script src="static/relogin.js"></script>
{% endblock body %}
