{% extends 'base.jinja2' %}

{% block head %}
	<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock head %}

{% block body %}
	<h1>Outcomes</h1>

	<form method="post" action="/login">
		E-mail: <input type="text" name="email">
		<br>
		Password: <input type="password" name="password">
		<br>
		<input type="submit" value="Login" name="login">
		<input type="submit" value="Register" name="register">
	</form>
{% endblock body %}
