{% extends 'base.jinja2' %}

{% block head %}
	<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock head %}

{% block body %}
	<h1>Outcomes</h1>

	{% if logged_in %}
		<a href="/outcomes">Go to the app</a>
	{% else %}
		<form method="post" action="/login">
			E-mail: <input type="text" name="email">
			<br>
			Password: <input type="password" name="password">
			<br>
			<input type="submit" value="Login" name="login">
			<input type="submit" value="Register" name="register">
		</form>
	{% endif %}

	<h2>A spending analyzer for busy people</h2>
	<p class="home_info">
		Unlike budgeting solutions that require you to categorize each charge, Outcomes has no toil.
		Simply connect your bank accounts via <a href="https://plaid.com/">Plaid</a>
		and Outcomes analyzes your spending.
	</p>
	<p class="home_info">
		Rather than seeing your spending by account or by month, you'll see it by regularity.
		This gives you a view of how your most recurring spending trends
		($10,000 on rent, groceries, and utility bills over the last quarter)
		and finds those one-off transactions that are hiding in the noise ($2500 for repairs).
	</p>

	Check out the <a href="/demo">demo</a>!
{% endblock body %}
